@value makerWhite,makerGreen,makerLightPink from '../../common/colors.css';

.login {
  width: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
}

h1 {
  margin: 0;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem 0;
}

li {
  margin-bottom: 0.3rem;
}

.button {
  width: 80%;
  margin: 0 0.3rem 0.5rem 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1.2rem;
  border: 3px solid makerGreen;
  background-color: makerWhite;
  cursor: pointer;
}

.button:hover {
  background-color: makerLightPink;
}
