@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.maker {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.makerContents {
  height: 80%;
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .makerContents {
    flex-direction: column;
  }
}
